
@{
    ViewBag.Title = "Countries List Using ViewBag";
}

<h2>IndexViewBag</h2>
<ul>
    @foreach(string strCountry in ViewBag.Countries)
    {
        <li>@strCountry</li>
    }
</ul>

